.about-page {
  background-color: #B5A19C;
  color: #FFFBF5;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  text-align: center;
}

.top-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container {
  flex-basis: 100%;
  height: 60vh;
  max-width: 350px;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.intro-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid #FFFBF5;
}

.intro-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid #FFFBF5;
}

.image-container {
  width: 80%;
  border-bottom: 1px solid #FFFBF5;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container h1 {
  font-weight: 300;
  font-size: 26px;
  margin-top: 26px;
}

.image {
  width: 280px;
  height: 280px;
  border-radius: 40px;
}

.hobbies-container {
  flex-basis: 100%;
  height: 60vh;
  max-width: 350px;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.hobbies-container h2 {
  font-size: 22px;
  font-weight: 300;
}

.hobbies-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid #FFFBF5;
}

.hobbies-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid #FFFBF5;
}

.hobbies-border-container {
  width: 280px;
  height: 60vh;
  border-bottom: 1px solid #FFFBF5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-summary-container {
  flex-basis: 100%;
  height: 60vh;
  max-width: 350px;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.my-summary-container h2 {
  font-weight: 300;
}

.my-summary-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid #FFFBF5;
}

.my-summary-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid #FFFBF5;
}

.summary-border-container {
  width: 80%;
  height: 60vh;
  border-bottom: 1px solid #FFFBF5;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.summary-border-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.certificate-container {
  width: 80vw;
  height: 340px;
  position: relative;
  display: flex;
  justify-content: center;
}
.certificate-container h2 {
  font-weight: 300;
}

.certificate-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid #FFFBF5;
}

.certificate-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid #FFFBF5;
}

.certificate-border-container {
  width: 80%;
  border-bottom: 1px solid #FFFBF5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accomplishments-container {
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.accomplishments-container h2 {
  font-weight: 300;
}

.accomplishments-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid #FFFBF5;
}

.accomplishments-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid #FFFBF5;
}

.accomplishments-border-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .top-half {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .intro-container {
    width: 40vw;
    flex-basis: 50%;
  }
  .intro-container::before {
    border: none;
  }
  .hobbies-container {
    width: 40vw;
    flex-basis: 50%;
  }
  .hobbies-container::after,
  .hobbies-container::before {
    border: none;
  }
  .hobbies-border-container {
    width: 80%;
  }
  .my-summary-container {
    flex-basis: 100%;
    max-width: 100vw;
  }
  .summary-border-container {
    width: 65%;
  }
}
@media screen and (min-width: 900px) {
  .top-half {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .intro-container {
    width: 33vw;
    order: 2;
  }
  .intro-container::before {
    border-left: 1px solid #FFFBF5;
  }
  .hobbies-container {
    max-width: 33vw;
    order: 1;
  }
  .my-summary-container {
    order: 3;
    max-width: 33vw;
  }
  .my-summary-container::after,
  .my-summary-container::before {
    border: none;
  }
  .summary-border-container {
    width: 30vw;
  }
  .bottom-half {
    display: flex;
    flex-direction: row;
  }
  .certificate-container {
    width: 50vw;
  }
  .certificate-border-container {
    border-bottom: none;
  }
  .accomplishments-container {
    width: 50vw;
  }
  .accomplishments-container::after,
  .accomplishments-container::before {
    border: none;
  }
}/*# sourceMappingURL=About.css.map */