@use '../../../abstract/variables' as *;

.home {
  background-color: $primary;
  color: $cream;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.nav-style-box {
  width: 35px;
  margin: 30px 10px 0 0;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.home-icon {
  width: 35px;
  margin: 30px 20px 0 10px;
}

.intro-container {
  min-height: 60vh;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.intro-container::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid $cream;
}

.intro-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid $cream;
}

.image-container {
  width: 80%;
  border-bottom: 1px solid $cream;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    h1 {
      font-weight: 300;
      font-size: 26px;
      margin-top: 26px;
    }
}

.image {
  width: 280px;
  height: 280px;
  border-radius: 40px;
}

.title-container {
  min-height: 60vh;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
    h2 {
      font-size: 22px;
      font-weight: 300;  
    }
}

.title-container::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid $cream;
}

.title-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid $cream;
}

.title-border-container {
  width: 80%;
  height: 100%;
  border-bottom: 1px solid $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.software-developer {
  font-size: 26px;
  text-decoration: underline;
}

.career-summary-container {
  min-height: 60vh;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
    h2 {
      font-weight: 300;  
    }
}

.career-summary-container::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 80%;
  border-right: 1px solid $cream;
}

.career-summary-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  border-left: 1px solid $cream;
}

.career-border-container {
  width: 80%;
  height: 100%;
  border-bottom: 1px solid $cream;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 500px) {
  // .image {
  //   width: 360px;
  //   height: 360px;
  // }

  // .image-container {
  //   h1 {
  //     font-size: 36px;
  //   }
  // }
}

@media screen and (min-width: 700px) {

}