@use "../../../abstract/variables" as *;

.contact-page {
  background-color: $secondary;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  color: $cream;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-information {
  font-weight: 100;
}

.socials-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.github,
.resume {
  width: 50px;
}







.references-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.references {
  font-weight: 100;
}

.reference {
  background-color: $primary;
  opacity: 0.9;
  border-radius: 40px;
  width: 85%;
  margin-bottom: 30px;
  padding: 10px;
}

@media screen and (min-width: 920px) {
  .contact-container {
    display: flex;
  }

  .contact {
    width: 50vw;
  }

  .references-container {
    width: 50vw;
    height: 90vh;
  }

  .reference {
    width: 75%;
  }
}
